.main-section {
    width: 80%;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}