.net-worth-item li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 30px;
}

.net-worth-item input {
    margin-left: 10px;
}

.input-field {
    height: 15px;
}

.unordered-list {
    padding: 0px;
}