.secondary-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.cards {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}